@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111824;
  --cream: #f8f2ea;
}

body {
  color: var(--cream);
  background: var(--background);
  font-family: "Space Grotesk", sans-serif;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
