@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141d30;
  --browser: #2f333b;
  --cream: #f8f2ea;
  --accent-blue: #112179;
  --accent-purple: #47155b;
  --accent-pink: #d682c1;
}

body {
  color: var(--cream);
  background: var(--background);
  font-family: "Space Grotesk", sans-serif;
}
